<div class="container allProducts">
    <div class="row justify-content-around">

    </div>

</div>


<script>
    let $allProducts=$(".allProducts .row")
    $.get("/prod/getAllProducts",(products)=>{
        products.forEach((p)=>{
            $allProducts.append(`
            <div class="card prod col-md-3 mt-2 mb-2" style="width:20rem;">
                <a href="/prod/details/${p.id}"><img class="card-img-top" src="../../public/images/placeholder.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p class="card-text">${p.name}</p>
                    <button class="btn btn-sm btn-danger add">ADD TO CART</button>
                </div>
             </div>
            `)
        })
    })
    $(".allProducts .row ").on('click',".add",(e)=>{
        // use local storage here
        alert("Product Added to Cart")
    })
</script>
