<div class="container mt-3 mb-3">
    <form>
        <div class="row">
            <div class="form-group col-md-10">
                <select name="college" id="college" class="form-control">
                    <!--options generated dynamically except the defaulat one-->
                    <option disabled selected>Filter Products By College</option>
                </select>
            </div>
            <button type="submit" id="filter" class="btn btn-outline-success col-md-2">Filter</button>
        </div>
    </form>
</div>

<div class="container-fluid filteredProducts" style="background:whitesmoke">
    <div class="row justify-content-around">
        <!--filtered results will come here-->

    </div>
</div>

<script>
    $cOptions=$(".form-group #college")
    $.get("/prod/getAllColleges",(college)=>{
        college.forEach((i)=>{
            $cOptions.append(`
            <option value="${i.cId}">${i.cName}</option>
            `)
        })
    })
    let $college=$("#college")
    let $filteredProducts=$(".filteredProducts .row")
    $("#filter").on('click',(e)=>{
        if($college.find(":selected").val()==="Filter Products By College"){}
        else
        {
            $(".allProducts").css({"display":"none"})
            $filteredProducts.empty()
            $filteredProducts.append(`
         <h2 class="col-md-12 text-center mt-3 mb-3">FILTERED RESULTS</h2>`)
            e.preventDefault()
            let id=$college.find(":selected").val()
            $.post("/prod/filter",{college:id},(products)=>{
                if(products.length!==0){
                    products.forEach((p)=>{
                        $filteredProducts.append(`
            <div class="card prod col-md-2" style="width:20rem;">
                <a href="/prod/details/${p.id}"><img class="card-img-top" src="${p.fImage}" alt="Card image cap"></a>
                <div class="card-body">
                    <p class="card-text">${p.name}</p>
                    <button class="btn btn-sm btn-danger add" onclick='save(${JSON.stringify(p)})'>ADD TO CART</button>
                </div>
             </div>
            `)
                    })
                }
                else
                {
                    $(".allProducts").css({"display":"block"})
                    $filteredProducts.empty()
                    $filteredProducts.append(`
                    <h2 class="col-md-12 text-center mt-3 mb-3">NO RESULTS. PLEASE TRY OTHER OPTIONS.</h2>`)
                }
            })
        }
    })

    function save(p){
        let stringP=JSON.stringify(p)
        localStorage.setItem(`product${p.id}`,stringP)
        alert("Product Added to Cart")
    }
</script>