<div class="container mt-3 mb-3">
    <form>
        <div class="form-group">
            <label for="college">Filter Results By College</label>
            <select name="college" id="college" class="form-control">
                <!--options generated dynamically-->
            </select>
        </div>
        <button type="submit" id="filter" class="btn btn-outline-primary">Filter</button>
    </form>
</div>

<div class="container-fluid filteredProducts" style="background: darkgreen">
    <div class="row justify-content-around">
        <!--filtered results will come here-->
    </div>

</div>

<script>
    $cOptions=$(".form-group #college")
    $.get("/prod/getAllColleges",(college)=>{
        college.forEach((i)=>{
            $cOptions.append(`
            <option value="${i.cId}">${i.cName}</option>
            `)
        })
    })
    let $filteredProducts=$(".filteredProducts .row")
    $("#filter").on('click',(e)=>{
        $filteredProducts.empty()
        e.preventDefault()
        let id=$("#college").find(":selected").val()
        $.post("/prod/filter",{college:id},(products)=>{
            if(products.length!==0){
                products.forEach((p)=>{
                    $filteredProducts.append(`
            <div class="card prod col-md-3" style="width:20rem;">
                <a href="/prod/details/${p.id}"><img class="card-img-top" src="../../public/images/placeholder.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <p class="card-text">${p.name}</p>
                </div>
             </div>
            `)
                })
            }
            else
                console.log("nothing found")
        })
    })

</script>