<div class="container-fluid footer">
    <div class="row justify-content-center">
        <div class="col-md-1">
            <a href="/"><img src="../../public/images/logo.png" alt="logo" class="img-fluid" style="width:80px; margin-top: 10px; height:60px" ></a>
        </div>
    </div>
</div>