<div class="container-fluid mt-5 mb-5" style="background:whitesmoke;">
    <div class="container mt-4 mb-4">
        <div class="row justify-content-center">
            <div class="col-md-4" style="margin:10px 20px; padding:8px 8px;">
                <h3 style="border-bottom: solid black 2px;"><i class="fas fa-lightbulb" style="color:olive; margin:2px 2px;"></i>REGULAR FIT</h3>
                <p>Fits just right - not too tight, not too loose.</p>
            </div>
            <div class="col-md-4" style="margin:10px 20px; padding:8px 8px;">
                <h3 style="border-bottom: solid black 2px;"><i class="fas fa-lightbulb" style="color:olive; margin:2px 2px;"></i>CASH ON DELIVERY AVAILABLE</h3>
                <p>Do not want to pay before getting the product. COD option is there</p>
            </div>
            <div class="col-md-4" style="margin:10px 20px; padding:8px 8px;">
                <h3 style="border-bottom: solid black 2px;"><i class="fas fa-lightbulb" style="color:olive; margin:2px 2px;"></i>BEST QUALITY</h3>
                <p>we gaurantee you about the quality of fabric.
                Soft and Comfy </p>
            </div>
            <div class="col-md-4" style="margin:10px 20px; padding:8px 8px;">
                <h3 style="border-bottom: solid black 2px;"><i class="fas fa-lightbulb" style="color:olive; margin:2px 2px;"></i>CASHBACK INFO</h3>
                <p>Promotional cashback cannot be redeemed on already discounted products</p>
            </div>
        </div>
    </div>
</div>