<!doctype html>
<html lang="en" xmlns:og="http://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <title>HOME</title>

    <!--for search engine optimization(SEO)-->

    <!-- Search Engine -->
    <meta name="description"
          content="">
    <meta name="image" content="../../public/images/">

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="">
    <meta itemprop="description"
          content="">
    <meta itemprop="image" content="../../public/images/">

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="" />
    <meta name="og:description"
          content="">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="../../public/images/" />
    <meta property="og:site_name" content="" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/lux/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/customStyles.css">
    <link rel="icon" href="../../public/images/">

</head>

<body>

{{{body}}}




<script src="../../public/js/customjs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>