<h1>admin</h1>

<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="mrp">Password</label>
        <input type="number" class="form-control" name="mrp" id="mrp" placeholder="Market Retail Price">
    </div>
    <div class="form-group">
        <label for="dPrice">Discounted Price</label>
        <input type="number" class="form-control" name="dPrice" id="dPrice" placeholder="Discounted Price">
    </div>
    <div class="form-group">
        <label for="mrp">Password</label>
        <input type="number" class="form-control" name="mrp" id="mrp" placeholder="Market Retail Price">
    </div>
    <div class="form-group">
        <label for="mrp">Password</label>
        <input type="number" class="form-control" name="mrp" id="mrp" placeholder="Market Retail Price">
    </div>
    <button type="submit" class="btn btn-success">ADD</button>
</form>