<div class="container">
    <form method="post" action="/admin/addCollege">
        <div class="form-group">
            <label for="newCollege">College</label>
            <input type="text" class="form-control" name="newCollege" id="newCollege" placeholder="College name">
        </div>
        <button type="submit" class="btn btn-success">ADD</button>
    </form>
</div>

<div class="container mt-5">
<form method="post" action="/admin/add">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="mrp">Market Retail Price</label>
        <input type="number" class="form-control" name="mrp" id="mrp" placeholder="Market Retail Price">
    </div>
    <div class="form-group">
        <label for="dPrice">Discounted Price</label>
        <input type="number" class="form-control" name="dPrice" id="dPrice" placeholder="Discounted Price">
    </div>
    <div class="form-group">
        <label for="college">College</label>
        <select name="college" id="college" class="form-control">
            <!--options generated dynamically-->
        </select>
    </div>
    <button type="submit" class="btn btn-success">ADD</button>
</form>
</div>
<script>
    $cOptions=$(".form-group #college")
    $.get("/prod/getAllColleges",(college)=>{
        college.forEach((i)=>{
            $cOptions.append(`
            <option value="${i.cId}">${i.cName}</option>
            `)
        })
    })

</script>
