{{>navbar}}
<div class="container mt-4 mb-4">
    <form method="post" action="/placeOrder">
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Your full name" required>
        </div>
        <div class="form-group">
            <label for="number">Contact Number</label>
            <input type="number" class="form-control" name="phnNumber" id="number" placeholder="Your contact number" required>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>{{p.name}}</h2>
            </div>
            <div class="col-md-4">
                <h3>Total Amount Payable: {{p.price}}</h3>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Delivery Address</label>
            <textarea class="form-control" name="address" id="address" rows="3" placeholder="where to deliver the product" required></textarea>
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <select name="size" id="size" class="form-control" required>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="2XL">2XL</option>
                <option value="3XL">3XL</option>
            </select>
        </div>
        <button type="submit" id="order" class="btn btn-success">Place Order</button>
    </form>
</div>



