{{>navbar}}
<div class="container-fluid cart">
    <div class="row justify-content-center">
        <ul class="list-group col-md-12">

        </ul>
        <!--cart items dynamically comes in here-->

    </div>
</div>
{{>footer}}

<script>
    let $cart=$(".cart .list-group")
    $cart.empty()
    for (let key in localStorage) {
        if (localStorage.hasOwnProperty(key)) {
            let temp=JSON.parse(localStorage[key])
            $cart.append(`
                          <li class="list-group-item" style="margin: 15px 10px; ">
                        <a href="/prod/details/${temp.id}"><img src=${temp.fImage} alt="product image" style="height: 60px; width:80px;"></a>
                        <span style="margin: 5px 20px;">ITEM NAME:  ${temp.name}</span>
                        <span style="margin: 5px 20px;">ITEM PRICE: <i class="fas fa-rupee-sign fa-sm"></i>${temp.price}</span>
                        <span style="margin: 5px 20px;">PRICE BEFORE DISCOUNT:<i class="fas fa-rupee-sign fa-sm"></i>${temp.mrp}</span>
                        <i  onclick="remove(${temp.id})" class="fas fa-2x fa-trash-alt" style="color:rgba(200,0,0,0.5);float: right; margin: 5px 10px;"></i>
                        <a href="/prod/buy/${temp.id}" style="margin: 5px 10px; float: right;" class="btn btn-sm btn-success">BUY</a>
                        </li>

                        `)
        }
    }

    function remove(id){
        localStorage.removeItem('product'+id)
        location.reload()
    }

</script>