{{>navbar}}
<div class="container-fluid contacts">
    <div class="row justify-content-around">
        <p>Lorem Ipsum is simply dummy text of the printing and types
            etting industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type and scramble
            d it to make a type specimen book. It has survived not only five centuries, but
            also the leap into electronic typesetting, remaining essentially unchanged. It wa
            s popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passa
            ges, and more recently with desktop publishing software like Aldus PageMaker
            including versions of Lorem Ipsum.</p>
    </div>
</div>
{{>footer}}