html,body{
    height: 100%;
    width:100%;
    padding: 0;
    margin:0;
}
.allProducts .row .prod{
    margin:10px;
}
.filteredProducts .row .prod{
    margin:10px;
}
.allProducts .row .col-md-3{
    padding:0 !important;
}
.filteredProducts .row .col-md-3{
    padding:0 !important;
}
.about{
    min-height:80%;
    background:whitesmoke;
}.contacts{
     min-height:80%;
     background:whitesmoke;
 }
.footer{
    min-height:40%;
    background:#292929;
}
